.plant-small {
    font-size: 20px;
    font-weight: 600;
    padding: 0px 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0.699);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.411);
    border: 3px solid black;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    width: 35vh;
}

.button-learn_more {
    padding: 8px 12px;
    background-color: rgba(19, 172, 45, 0.644);
    color: white;
    /* font-size: 20px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.432);
    margin-right: 1rem;
}

.button-addToMyPlants {
    padding: 8px 12px;
    background-color: rgba(19, 172, 45, 0.644);
    color: white;
    /* font-size: 20px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.432);
}

.button-addToMyPlants:active, .button-learn_more:active{
    background-color: rgba(13, 107, 29, 0.644);
}

@media only screen and (max-width: 767px) {
    .plant-small {
        font-size: 15px;
        font-weight: 600;
        padding: 0px 12px;
        color: white;
        height: 40vh;
        background-color: rgba(0, 0, 0, 0.699);
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.411);
        border: 3px solid black;
        margin-right: 1em;
        margin-bottom: 1em;
        margin-top: 1em;
        padding: 1em;
        box-sizing: border-box;
    }

    .button-learn_more {
        padding: 8px 12px;
        background-color: rgba(19, 172, 45, 0.644);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.432);
        margin-right: 1rem;
    }


    .button-addToMyPlants {
        padding: 8px 12px;
        background-color: rgba(19, 172, 45, 0.644);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.432);
    }
}