.register-div > form{
    background-image: url(../../assets/login.png);
    background-size: cover;
    min-width: 50vw;
    min-height: 50vh;
    padding: 10px;
    gap: 0.75em;
    border-radius: 15px;
    border: 5px solid rgba(0, 0, 0, 0.555);
    color: white;
}

.register-div > form > div{
    gap: 2.2em;
}

.register-label-div,.register-input-div{
    gap: 1em;
}

.input-box{
    padding: 10px;
    position: relative;
    text-align: start;
}

.input-box > label{
    position: absolute;
    left: 10px;
    transform:  translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-out 0.2s;
}

.register-input{
    padding-bottom: 5px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.register-input:focus ~ label, .register-input:valid ~ label
{
    transform:  translateY(-120%);
}

.form-div-container{
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 15px;
}

.go-to-login-button{
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.register-div{
    margin-top: 10vh;
}

.create-account-button{
    padding: 8px 12px;
    background-color: rgb(25, 158, 96);
    color: white;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.sign-in-text{
    text-decoration: underline;
    font-size: 600;
}