.register-window>form {
    gap: 1.25em;
    min-width: 23vw;
}

.register-window {
    background-color: rgba(5, 20, 14, 0.685);
    border-radius: 15px;
    border-left: none;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.671);
    min-height: 70vh;
    align-items: stretch;
    gap: 2em;
}

.register-label-div,
.register-input-div {
    gap: 1em;
}

.input-box {
    padding: 10px;
    position: relative;
    text-align: start;
}

.input-box>label {
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    transition: all 0.2s ease-out 0.2s;
}

.register-input {
    padding-bottom: 5px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.register-input:focus~label,
.register-input:valid~label {
    transform: translateY(-120%);
}

.form-div-container {
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.377);
    border-radius: 15px;
    gap: 2.2em;
    border: 3px solid rgba(0, 0, 0, 0.356);
}

.go-to-login-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.register-div {
    width: 100vw;
    background-image: url(../../assets/background.png);
    background-size: cover;
    flex-grow: 1;
}

.create-account-button {
    padding: 8px 12px;
    background-color: rgba(19, 172, 45, 0.644);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.432);
}

.create-account-button:active {
    background-color: rgba(13, 116, 30, 0.644);
    transform: scale(97%);
}

.sign-in-text {
    text-decoration: underline;
    font-size: 600;
}

.part-background {
    background-image: url(../../assets/registerpartbackground.png);
    background-size: cover;
    min-width: 20vw;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.411);
}