.register-div > form{
    background-color: aliceblue;
    min-height: 30vh;
    padding: 10px;
    gap: 2em
}

.register-div > form > div{
    gap: 2em;
}

.register-label-div,.register-input-div{
    gap: 1em;
}
