.navbar-div{
    gap: 5vw;
    justify-content: flex-start;
    padding: 1em;
    background-color: rgb(38, 126, 77);
    border-bottom: 4px solid rgb(16, 70, 40);

}

.navbar-div button{
    color:white;
    background-color: transparent;
    border: none;
    font-size: 1.7em;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .navbar-div {
        font-size: 0.5rem;
        align-items: center;
    }

    .navbar-div button {
        font-size: 1.2em;
        margin-top: 0.5em;
    }
}