.navbar-div{
    gap: 5vw;
    justify-content: flex-start;
    padding: 1em;
    background-color: rgb(53, 190, 115);
}

.navbar-div button{
    color:white;
    background-color: rgb(53, 190, 115);
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
